<a href="https://colab.research.google.com/github/sarahcodebyte/TitanicSurvivalPrediction/blob/main/TitanicSurvivalPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import dependencies**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

# **Load Dataset**

In [ ]:
dataset = pd.read_csv('/content/dataset.csv')

In [ ]:
dataset.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [ ]:
dataset.shape

(891, 5)

In [ ]:
#label encoding. replacing male-female with 1-0
dataset.replace({"Sex": {"female":0, "male":1}}, inplace = True)
dataset.head()

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0

In [96]:
dataset.columns[dataset.isna().any()]

Index([], dtype='object')

Checking for missing values in data and removing them

In [97]:
dataset.Age = dataset.Age.fillna(X.Age.mean())

In [98]:
dataset.columns[dataset.isna().any()]

Index([], dtype='object')

# **Data Splitting**

In [99]:
X = dataset.drop(columns = ['Survived'], axis = 1)
Y = dataset['Survived']

print(X.head())
print(Y.head())

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Splitting of cleaned data into training and testing data

In [119]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, stratify = Y, random_state =0)

# **Training the model**

In [120]:
model = GaussianNB()

In [121]:
model.fit(X_train, Y_train)

GaussianNB()

# **Accuracy of model**

In [122]:
#on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

print(training_data_accuracy*100)

77.41433021806854

In [123]:
#on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

print(test_data_accuracy*100)

81.94444444444444

# **Prediction against custom input**

In [127]:
pclass = int(input('Enter PClass: '))
sex = int(input('Enter sex(1-male, 0-female): '))
age = float(input('Enter age: '))
fare = float(input('Enter fare details: '))

newPass = [[pclass, sex, age, fare]]
result = model.predict(newPass)
print(result)

if result == 0:
  print('Would not survive')
else:
  print('Will survive')

Enter PClass: 3
Enter sex(1-male, 0-female): 0
Enter age: 55
Enter fare details: 77.45
[1]
Will survive

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"